[submodule "submodules/ironskillet-components"]
	path = submodules/ironskillet-components
	url = https://github.com/PaloAltoNetworks/ironskillet-components.git
[submodule "submodules/SLED-components"]
	path = submodules/SLED-components
	url = https://github.com/annabarone/SLED-components.git
[submodule "submodules/panos-ansible-upgrade-downgrade"]
	path = submodules/panos-ansible-upgrade-downgrade
	url = git@github.com:PaloAltoNetworks/panos-ansible-upgrade-downgrade.git
[submodule "submodules/deployment-tools"]
	path = submodules/deployment-tools
	url = git@github.com:pan-community/deployment-tools.git
[submodule "submodules/panos-networking-configs"]
	path = submodules/panos-networking-configs
	url = git@github.com:pan-community/panos-networking-configs.git
[submodule "submodules/panos-best-practices"]
	path = submodules/panos-best-practices
	url = git@github.com:pan-community/panos-best-practices.git
