[submodule "submodules/ironskillet-components"]
	path = submodules/ironskillet-components
	url = https://github.com/PaloAltoNetworks/ironskillet-components.git
[submodule "submodules/SLED-components"]
	path = submodules/SLED-components
	url = https://github.com/annabarone/SLED-components.git
[submodule "submodules/panos-ansible-upgrade-downgrade"]
	path = submodules/panos-ansible-upgrade-downgrade
	url = https://gitlab.com/panw-gse/tech-library/deploy/panos-ansible-upgrade-downgrade.git
[submodule "submodules/deployment-tools"]
	path = submodules/deployment-tools
	url = https://gitlab.com/panw-gse/tech-library/deploy/deployment-tools.git
[submodule "submodules/panos-networking-configs"]
	path = submodules/panos-networking-configs
	url = https://gitlab.com/panw-gse/as/panos-networking-configs.git
